@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navigation {
  display: flex;
  width: 100%;

  justify-content: flex-start;

  margin-left: 70px;
  margin-top: 30px;
  margin-bottom: 40px;

  font-size: 25px;

  font-family: "Mukta", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.navigation a {
  text-decoration-line: none;
  color: black;
}

.navi_title {
}

.navi_menu {
  margin-right: 130px;
  margin-left: auto;
  align-items: flex-end;
}

.navi_menu a {
  margin: 10px;
}

.navigation_link {
  text-decoration-line: none;
  color: black;
  margin-right: 100px;
}
